@import url("./vendor/fonts/fonts.css");

.page {
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2dfd3;
  color: #341d08;
  margin: 0 auto;
  position: relative;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__container {
  margin: 0 50px;
}

.hover-button:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media (max-width: 800px) {

  .page__container {
    margin: 0 40px;
  }

}

@media (max-width: 500px) {

  .page__container {
    margin: 0 30px;
  }

}

@media (max-width: 400px) {

  .page__container {
    margin: 0 20px;
  }

}
