@import url("./vendor/fonts/fonts.css");

.page {
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2dfd3;
  color: #341d08;
  margin: 0 auto;
}

.page__container {
  padding: 0 70px;
}

.hover-button:hover {
  opacity: 0.6;
  cursor: pointer;
}










