.map {
  position: relative;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex: auto;
  overflow: hidden;
}

.map__plan {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.map__mark {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.map__dot {
  width: 1px;
  border-radius: 5px;
  border: solid 5px #ff0000;
  box-sizing: border-box;
}

.map__info {
  min-width: 70px;
  min-height: 50px;
  background-color: rgba(192, 132, 87, .7);
  border-radius: 3px;
  position: absolute;
  left: 3px;
  top: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
  opacity: 0;
}

.map__title {
font-size: 12px;
color: #633309;
margin: 0;
padding: 5px;
}

.map__amount {
  font-size: 10px;
  color: #633309;
  margin: 0;
  padding-left: 5px;
}

.map__mark:hover > .map__info {
  visibility: visible;
  transition: opacity .5s, visibility .5s;
  opacity: 1;
  cursor: pointer;
}